# The Rolling Sigmas (and Betas)
In this project we'll try to find the 1 year rolling sigma (σ) (standard deviation/volatility) and betas (β) of sectors (taking ETFs for now as proxy) of NYSE stocks

In [2]:
import pandas as pd

In [3]:
import yfinance as yf

## Getting and Preparing Sector data

**Enter Date Range:**

In [6]:
# Define the start and end dates (yyyy-mm-dd)
start_date = pd.to_datetime("2022-01-01")
end_date = pd.to_datetime("2024-12-20")

# Calculate the difference in months
months_diff = (end_date.year - start_date.year) * 12 + end_date.month - start_date.month

print(months_diff)

35

**Enter tickers:**

In [8]:
# List of tickers
tickers = ["XLC", #The Communication Services Select Sector SPDR ETF Fund (XLC)
           "XLE", #The Energy Select Sector SPDR Fund (XLE)
           "XLF", #The Financial Select Sector SPDR Fund (XLF)
           "XLV", #The Health Care Select Sector SPDR Fund (XLV)
           "XLI", #The Industrial Select Sector SPDR Fund (XLI)
           "XLB", #The Materials Select Sector SPDR Fund (XLB)
           "XLRE", #The Real Estate Select Sector SPDR Fund (XLRE)
           "XLK", #The Technology Select Sector SPDR Fund (XLK)
           "XLU", #The Utilities Select Sector SPDR Fund (XLU)
           "XLP" #The Consumer Staples Select Sector SPDR Fund (XLP)
          ]

In [9]:
# Download historical data for 1 or 2 years
data = yf.download(tickers, start=start_date, end=end_date)

# Extract only the closing prices
closing_prices = data['Close']

# Display the combined DataFrame
print(closing_prices.head())

# Optionally, save to a CSV file if you want
closing_prices.to_csv("nyse_closing_prices.csv")

[*********************100%***********************]  10 of 10 completed

Ticker                           XLB        XLC        XLE        XLF  \
Date
2022-01-03 00:00:00+00:00  89.430000  78.220001  57.220001  39.529999
2022-01-04 00:00:00+00:00  90.529999  78.050003  59.200001  40.570000
2022-01-05 00:00:00+00:00  90.519997  76.089996  59.189999  40.099998
2022-01-06 00:00:00+00:00  89.379997  76.430000  60.509998  40.689999
2022-01-07 00:00:00+00:00  89.300003  76.440002  61.340000  41.169998

Ticker                            XLI         XLK        XLP       XLRE  \
Date
2022-01-03 00:00:00+00:00  104.940002  175.520004  77.099998  51.330002
2022-01-04 00:00:00+00:00  107.050003  173.660004  77.620003  51.130001
2022-01-05 00:00:00+00:00  106.029999  168.320007  77.550003  49.470001
2022-01-06 00:00:00+00:00  106.519997  167.470001  77.339996  49.529999
2022-01-07 00:00:00+00:00  106.489998  165.929993  77.419998  49.270000

Ticker                           XLU         XLV
Date
2022-01-03 00:00:00+00:00  70.870003  139.440002
2022-01-04 00:00:00+00:00  70.650002  137.600006
2022-01-05 00:00:00+00:00  70.610001  136.619995
2022-01-06 00:00:00+00:00  69.879997  135.039993
2022-01-07 00:00:00+00:00  70.410004  134.350006

In [10]:
sectors_prices = pd.read_csv(r"nyse_closing_prices.csv", parse_dates = ["Date"], index_col = "Date")

In [11]:
sectors_prices.tail()

,XLB,XLC,XLE,XLF,XLI,XLK,XLP,XLRE,XLU,XLV
Date,,,,,,,,,,
2024-12-13 00:00:00+00:00,89.230003,100.940002,89.220001,49.540001,137.429993,239.050003,82.040001,42.830002,77.639999,140.990005
2024-12-16 00:00:00+00:00,88.440002,101.330002,87.260002,49.450001,137.550003,241.440002,81.610001,42.610001,77.019997,139.309998
2024-12-17 00:00:00+00:00,87.949997,100.570000,86.610001,49.099998,136.289993,239.979996,81.470001,42.419998,76.699997,139.210007
2024-12-18 00:00:00+00:00,85.449997,97.699997,84.050003,47.630001,132.440002,232.240005,80.230003,40.759998,74.889999,137.320007
2024-12-19 00:00:00+00:00,84.529999,97.430000,83.320000,47.799999,132.270004,232.490005,79.660004,40.060001,75.230003,136.279999

returns capture the relative changes in value, which are essential for comparison across assets of different price levels.

In [12]:
sectors_pct = sectors_prices.pct_change().dropna()

In [13]:
sectors_pct.head()

,XLB,XLC,XLE,XLF,XLI,XLK,XLP,XLRE,XLU,XLV
Date,,,,,,,,,,
2022-01-04 00:00:00+00:00,0.012300,-0.002173,0.034603,0.026309,0.020107,-0.010597,0.006745,-0.003896,-0.003104,-0.013196
2022-01-05 00:00:00+00:00,-0.000110,-0.025112,-0.000169,-0.011585,-0.009528,-0.030750,-0.000902,-0.032466,-0.000566,-0.007122
2022-01-06 00:00:00+00:00,-0.012594,0.004468,0.022301,0.014713,0.004621,-0.005050,-0.002708,0.001213,-0.010339,-0.011565
2022-01-07 00:00:00+00:00,-0.000895,0.000131,0.013717,0.011796,-0.000282,-0.009196,0.001034,-0.005249,0.007585,-0.005110
2022-01-10 00:00:00+00:00,-0.010190,-0.006279,-0.003097,-0.003401,-0.011269,0.000181,-0.007879,-0.005886,-0.006533,0.010272

In [14]:
sectors_returns = sectors_pct.copy()

In [15]:
# Convert the datetime index to date only
sectors_returns.index = sectors_returns.index.date

In [16]:
# Reset the index to include the date column
df_reset = sectors_returns.reset_index()

In [17]:
# Rename the "index" column to "Date"
df_reset = df_reset.rename(columns={"index": "Date"})

# Save to Excel
df_reset.to_excel('sectors %change.xlsx', index=False)

In [18]:
df_reset.head(3)

,Date,XLB,XLC,XLE,XLF,XLI,XLK,XLP,XLRE,XLU,XLV
0,2022-01-04,0.012300,-0.002173,0.034603,0.026309,0.020107,-0.010597,0.006745,-0.003896,-0.003104,-0.013196
1,2022-01-05,-0.000110,-0.025112,-0.000169,-0.011585,-0.009528,-0.030750,-0.000902,-0.032466,-0.000566,-0.007122
2,2022-01-06,-0.012594,0.004468,0.022301,0.014713,0.004621,-0.005050,-0.002708,0.001213,-0.010339,-0.011565

**Get Market index data**

In [20]:
benchmark = "^GSPC"

In [21]:
benchmark_data = yf.download(benchmark, start=start_date, end=end_date)
benchmark_prices = benchmark_data['Close']

# Display the closing prices for BENCHMARK
benchmark_prices.tail()

[*********************100%***********************]  1 of 1 completed

Ticker                           ^GSPC
Date
2024-12-13 00:00:00+00:00  6051.089844
2024-12-16 00:00:00+00:00  6074.080078
2024-12-17 00:00:00+00:00  6050.609863
2024-12-18 00:00:00+00:00  5872.160156
2024-12-19 00:00:00+00:00  5867.080078

In [22]:
# Calculate daily returns
benchmark_pct = benchmark_prices.pct_change().dropna()
benchmark_pct.head()

Ticker                        ^GSPC
Date
2022-01-04 00:00:00+00:00 -0.000630
2022-01-05 00:00:00+00:00 -0.019393
2022-01-06 00:00:00+00:00 -0.000964
2022-01-07 00:00:00+00:00 -0.004050
2022-01-10 00:00:00+00:00 -0.001441

In [65]:
benchmark_pct.columns = ['Benchmark']

In [67]:
benchmark_returns = benchmark_pct.copy()

## Rolling standard deviation (σ)

In [70]:
# Calculate the 1-year rolling standard deviation for daily percentage change
# Assuming 252 trading days in a year
rolling_std = sectors_returns.rolling(window=252).std()

In [72]:
rolling_std.dropna(inplace = True)

In [74]:
rolling_std.shape

(494, 10)

In [76]:
# Save the result to Excel
rolling_std.to_excel('1_year_rolling_std.xlsx')

## Rolling Beta (β)

In [79]:
# Convert datetime indices to date-only
benchmark_returns.index = benchmark_returns.index.date

In [81]:
# Join the two DataFrames based on the aligned dates
aligned_data = sectors_returns.join(benchmark_returns, how="inner")

In [83]:
aligned_data.head()

,XLB,XLC,XLE,XLF,XLI,XLK,XLP,XLRE,XLU,XLV,Benchmark
2022-01-04,0.012300,-0.002173,0.034603,0.026309,0.020107,-0.010597,0.006745,-0.003896,-0.003104,-0.013196,-0.000630
2022-01-05,-0.000110,-0.025112,-0.000169,-0.011585,-0.009528,-0.030750,-0.000902,-0.032466,-0.000566,-0.007122,-0.019393
2022-01-06,-0.012594,0.004468,0.022301,0.014713,0.004621,-0.005050,-0.002708,0.001213,-0.010339,-0.011565,-0.000964
2022-01-07,-0.000895,0.000131,0.013717,0.011796,-0.000282,-0.009196,0.001034,-0.005249,0.007585,-0.005110,-0.004050
2022-01-10,-0.010190,-0.006279,-0.003097,-0.003401,-0.011269,0.000181,-0.007879,-0.005886,-0.006533,0.010272,-0.001441

In [89]:
# Calculate the 1-year rolling covariance with S&P 500 for each stock
rolling_cov = aligned_data.iloc[:, :-1].rolling(window=252).cov(aligned_data['Benchmark'])

rolling_cov.tail()

,XLB,XLC,XLE,XLF,XLI,XLK,XLP,XLRE,XLU,XLV
2024-12-13,0.000040,0.000056,0.000024,0.000041,0.000050,0.000095,0.000014,0.000030,0.000014,0.000027
2024-12-16,0.000040,0.000056,0.000024,0.000041,0.000050,0.000095,0.000014,0.000029,0.000014,0.000027
2024-12-17,0.000040,0.000056,0.000024,0.000041,0.000051,0.000095,0.000014,0.000029,0.000014,0.000027
2024-12-18,0.000044,0.000060,0.000028,0.000044,0.000054,0.000099,0.000016,0.000034,0.000017,0.000028
2024-12-19,0.000043,0.000060,0.000027,0.000044,0.000054,0.000099,0.000016,0.000034,0.000017,0.000028

In [93]:
# Calculate the 1-year rolling variance of S&P 500
rolling_var = aligned_data['Benchmark'].rolling(window=252).var()
rolling_var.tail()

2024-12-13    0.000059
2024-12-16    0.000059
2024-12-17    0.000059
2024-12-18    0.000063
2024-12-19    0.000063
Name: Benchmark, dtype: float64

In [109]:
# Calculate rolling beta for each stock
rolling_beta = rolling_cov.div(rolling_var, axis=0)

In [111]:
rolling_beta.tail()

,XLB,XLC,XLE,XLF,XLI,XLK,XLP,XLRE,XLU,XLV
2024-12-13,0.679205,0.948908,0.411471,0.688291,0.854853,1.607451,0.235232,0.500397,0.229794,0.453217
2024-12-16,0.675497,0.948717,0.403999,0.686542,0.853254,1.608961,0.235731,0.496224,0.229591,0.451354
2024-12-17,0.676141,0.949916,0.405484,0.687676,0.855070,1.609124,0.236077,0.496105,0.229512,0.450311
2024-12-18,0.693309,0.950631,0.439612,0.708287,0.862876,1.579939,0.252253,0.546406,0.265998,0.451387
2024-12-19,0.692552,0.949565,0.437380,0.706928,0.862052,1.581182,0.252962,0.546943,0.264368,0.450757

In [114]:
rolling_beta.to_excel('1_year_rolling_beta.xlsx')